In [1]:
pip install hdfs

Requirement already satisfied: hdfs in c:\programdata\anaconda3\lib\site-packages (2.7.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from hdfs) (1.15.0)
Requirement already satisfied: requests>=2.7.0 in c:\programdata\anaconda3\lib\site-packages (from hdfs) (2.25.1)
Requirement already satisfied: docopt in c:\programdata\anaconda3\lib\site-packages (from hdfs) (0.6.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->hdfs) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->hdfs) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->hdfs) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->hdfs) (2020.12.5)

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# импорт библиотек
import hdfs
import pandas as pd
import io

In [4]:
# создание подключения к кластеру
from hdfs import InsecureClient
client = InsecureClient('http://10.4.49.21:14000/', user='anonymous')

In [5]:
# вывод содержимого и статуса каталога hdfs
client.content('/data/stage/epetrov/')

{'directoryCount': 2,
 'fileCount': 1,
 'length': 14592889,
 'quota': -1,
 'spaceConsumed': 43778667,
 'spaceQuota': -1}

In [6]:
client.list('/data/stage/epetrov')

['transactions', 'transactions.parquet']

In [7]:
client.status('/data/stage/epetrov/')

{'pathSuffix': '',
 'type': 'DIRECTORY',
 'length': 0,
 'owner': 'zeppelin',
 'group': 'hadoop',
 'permission': '755',
 'accessTime': 0,
 'modificationTime': 1669616459995,
 'blockSize': 0,
 'replication': 0}

In [8]:
# чтение данных из hdfs
with client.read('/data/stage/epetrov/transactions.parquet') as f:
  transactions = f.read()

In [9]:
type(transactions)

bytes

In [10]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (10.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.16.6 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.20.1)

In [11]:
df_transactions = pd.read_parquet(io.BytesIO(transactions))

In [12]:
# демонстрация данных
df_transactions.head(5)

,id,client_id,product_category,product_company,subtype,amount,date,transaction_type
0,34478,37,29,None,Автоплатеж,1209,2020-01-01 00:00:00,Negative
1,65406,71,4,YouTube Music,Подписка,169,2020-01-01 00:00:00,Negative
2,82186,88,29,None,Автоплатеж,3711,2020-01-01 00:00:00,Negative
3,83113,89,29,None,Автоплатеж,6443,2020-01-01 00:00:00,Negative
4,131373,141,29,None,Автоплатеж,7319,2020-01-01 00:00:00,Negative

In [13]:
# скачивание файла из hdfs на локальный ПК
client.download('/data/stage/epetrov/transactions.parquet', local_path='transactions.parquet')

'C:\\Users\\epetrov\\transactions.parquet'

In [14]:
# считывание файла с локального ПК
df_transactions = pd.read_parquet('transactions.parquet')

In [15]:
# демонстрация данных
df_transactions.head(5)

,id,client_id,product_category,product_company,subtype,amount,date,transaction_type
0,34478,37,29,None,Автоплатеж,1209,2020-01-01 00:00:00,Negative
1,65406,71,4,YouTube Music,Подписка,169,2020-01-01 00:00:00,Negative
2,82186,88,29,None,Автоплатеж,3711,2020-01-01 00:00:00,Negative
3,83113,89,29,None,Автоплатеж,6443,2020-01-01 00:00:00,Negative
4,131373,141,29,None,Автоплатеж,7319,2020-01-01 00:00:00,Negative

In [16]:
# загрузка данных в hdfs
client.upload('/tmp/', 'transactions.parquet')

'/tmp/transactions.parquet'